#world {
  padding-bottom: 10px;
  padding-top: 10px;
  /*margin: 5%;*/
  border: 1px solid black;
  display: flex;
  /*justify-content: center;*/
  justify-content: space-evenly;
  flex-direction: column;

}

table {
  background-color: #d8bfd8;

}

td {
  border: 1px solid #800080;
  width: 25px;
  height: 25px;
}

td.alive {
  background-color: black;
}
td.dead {
  background-color: red;

}